.card-placeholder {
  padding: 30px;
  display: flex;
  flex-wrap: wrap; }

.card {
  color: #888888;
  background-color: #3a3a3a;
  height: 480px;
  width: 450px;
  border-radius: 3px;
  padding: 20px 30px;
  margin: 30px;
  flex: 1 0 550px;
  box-sizing: border-box;
  box-shadow: 2px 2px 8px #bbbbbb; }
  .card .card-heading {
    font-weight: 500; }
  .card .project-link {
    text-decoration: none;
    color: #b3b3b3; }
  .card .card-content {
    margin-top: -20px; }
  .card .website-img {
    width: 450px;
    height: 230px;
    object-fit: cover; }

.card:hover {
  background-color: #404040;
  box-shadow: 2px 2px 10px #7a7a7a; }

@media screen and (min-width: 60em) {
  .card {
    max-width: calc(50% - 60px); } }

.section-heading {
  text-align: center; }
